<h1>New booking</h1>
<div>
<p>Passengers: <%= @p_num %></p>

<p>Flight id: <%= @flight_selected.id %></p>
<p>Origin Airport: <%= @flight_selected.from_airport.code %></p>
<p>Destination Airport: <%= @flight_selected.to_airport.code %></p>
<p>Date: <%= @flight_selected.date %></p>
</div>

<%= form_for @new_booking, url: bookings_path do |booking_form| %>
  <%= hidden_field_tag(:flight_id, @flight_selected.id) %>
  <% @flight_passengers.each_with_index do |passenger, i| %>
    <h3>Passenger <%= (i + 1).to_s %>:</h3>
    <%= booking_form.fields_for "passenger[]", passenger do |contact_details_form| %>
      <p>Name: <%= contact_details_form.text_field :name %></p>
      <p>Email: <%= contact_details_form.text_field :email %></p>  
    <% end %>
  <% end %>
  <%= booking_form.submit %>
<% end %>
