<!DOCTYPE html>
<html>
<head>
  <title>OdinFlightBooker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if !current_page?(root_path) && !current_page?(flights_path) %>
  <%= link_to "Back to Flight Search", root_path %>
<% end %>
<%= yield %>

</body>
</html>
